# Application Configuration File
[general]
app_name = {{ app_name }}
version = {{ version }}

[database]
host = {{ db_host }}
port = {{ db_port }}
username = {{ db_user }}
password = {{ db_password }}

[logging]
level = {{ log_level }}
file = {{ log_file }}
